<!-- start custom head snippets, customize with your own _includes/release.html file -->

<!--The lines below help include JQuery DataTables into Markdown files-->
{%- if page.datatable == true -%}
<div>
  <script src="/assets/js/jquery.min.js"></script> <!--Add JQuery-->
  <link rel="//cdn.datatables.net/2.3.1/css/dataTables.dataTables.min.css"> <!--add style sheet-->
  <script src="//cdn.datatables.net/2.3.1/js/dataTables.min.js"></script> <!--add dataTables-->
  <script src="/assets/js/moment.min.js"></script>
  <script src="/assets/js/datetime-moment.js"></script>
  <script>
    $(document).ready( function () {
      $.fn.dataTable.moment( 'MMM D, YY' );
      // Initialize the DataTable
      new DataTable('#releases', {
        ordering : false, // Disable ordering
      });
    });
  </script>
</div>
{% endif %}

<!-- end custom head snippets -->